DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=social_media
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432

GDAL_LIBRARY_PATH=C:/Program Files/PostgreSQL/16/bin/libgdal-34.dll
GEOS_LIBRARY_PATH=C:/Program Files/PostgreSQL/16/bin/libgeos_c.dll
